body{ 
  background-color: black;
}

.content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
}

#signImg {
  max-height: 300px;
  max-width: 800px;
}


